// Global structure.
// --------------------------------------------------------
:root {
  scroll-behavior: smooth;
  --w-base-color-rgb: 44, 62, 80;
  --code-color: #2399ee;
  --code-bg-color: rgba(var(--w-contrast-bg-color-rgb), 0.05);

  &[data-theme="dark"] {
    --w-base-color-rgb: 255, 255, 255, 0.8;
    --code-bg-color: rgba(var(--w-contrast-bg-color-rgb), 0.12);
  }
}

.w-app {
  font: 15px 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--w-base-color-rgb));
  overflow-x: hidden;
}

aside {
  width: 220px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1.5rem 2rem 2rem;

  nav {
    position: fixed;
    top: 70px;
  }

  ul {margin-left: 20px;}
}

.page {
  position: relative;
  overflow: auto;
}

main {
  padding-top: 65px; // 40 for the top bar height, + arbitrary 25 for spacing out.
  padding-left: 4rem;
  border-left: 1px solid rgba(var(--w-contrast-bg-color-rgb), 0.2);
  flex-grow: 1;
}

footer {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9em;
  font-style: italic;
  margin: 1rem 0 1rem;

  .w-icon {
    font-size: 1.2em;

    &.heart {transition: 1s ease-out;cursor: pointer;}
    &.heart:hover {animation: pulse 1.8s ease-out infinite;}
  }
}

// Shared classes & styles.
// --------------------------------------------------------
a {
  text-decoration: none;
  color: $primary;

  &[id] {
    position: relative;
    top: -3rem;
  }
}

.scrollable {
  height: 250px;
  overflow-y: scroll;
  padding-right: 1.8em;
}

.page-container {
  width: 100%;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.w-tabs__content-wrap {flex-grow: 1;}

@keyframes pulse {
  0%, 20%, 30%, 35%, 45%, 100% {transform: scale(1);}
  25%, 40% {transform: scale(1.3);}
}

// Media queries.
// --------------------------------------------------------
@media screen and (max-width: $sm) {
  aside {
    width: 170px;
    padding-left: 0;
    padding-right: 0;
  }

  main {padding-left: 2.5rem;}
}

@media screen and (max-width: ($page-max-width + (2 * $container-padding-md))) {
  :root {--container-padding: #{$container-padding-md};}

  .page-container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

@media screen and (max-width: (500 + (2 * $container-padding-sm))) {
  :root {--container-padding: #{$container-padding-sm};}
}
