:root[data-theme="dark"] {
  .top-bar {
    background-color: #2222227a;
    border-bottom: none;
  }

  .w-app .amber {color: #ffd865;}
  .w-app .deep-orange {color: #ff9c65;}

  h2 {
    // color: var(--w-primary-color);
    // border-bottom-color: #383838;
    // background-color: #273134;
  }
  .message-box:after {opacity: 0.15;}
  .message-box.pink {color: #ffa9c6;}
  .message-box.important-notes {
    color: #eec965;
    background-color: rgba(255, 225, 62, 0.07);
  }
  .message-box.pale-blue {color: #65bcff;}

  .highlight-box .grey {color: #aaa;}
}
