// Breakpoints.
// --------------------------------------------------------
$xxs: 450px;
$xs: 600px;
$sm: 900px;
$md: 1200px;
$lg: 1400px;
$xl: 1700px;

$page-max-width: 1600px;
$container-padding-md: 20px;
$container-padding-sm: 12px;
