.documentation {
  ul {
    margin-left: 16px;

    &.w-list {margin-left: 0;}
    &.no-bullet {list-style-type: none;}
  }

  .highlight-box {
    background: linear-gradient(45deg, #ecf8f1, rgba(#fff, 0));
    padding: 16px;
    border-radius: 8px;

    .w-icon.bolt {
      width: 68px;
      height: 68px;
      background-color: rgba(#000, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .todo .w-tag__content {padding: 0 3px;}

  .api-options {
    list-style-type: none;
    margin: 0;
  }
  .api-options > li {margin-top: 2em;}
  .api-options p {margin-left: 1.5em;margin-top: 0.5em;}
  .api-options > li > ul {margin-left: 2.5em;margin-top: 0.5em;}

  .message-box {
    width: 100%;
    max-width: 650px;
    margin: 0;
  }

  .ssh-pre {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 1.35;

    &[data-label] {margin-top: 2.5em;}
    &--dark {background-color: #2d2d2d;}
  }

  .important-notes {
    font-weight: normal;
    font-size: 15px;

    small {
      display: block;
      font-size: 13px;
      line-height: 19px;
    }
  }

  .example {
    max-width: 800px;
    height: 600px;

    &.grow {max-width: none;}

    .vuecal {
      overflow: hidden;
      border-radius: 6px;
    }

    > .w-card__content {
      padding: 0;
      height: 100%;
    }
  }
}

// Yellow theme.
.vuecal--yellow-theme {
  .vuecal__menu, .vuecal__cell-events-count {background-color: rgba(255, 179, 0, 0.8);}
  .vuecal__menu {color: #fff;}
  .vuecal__title-bar {background-color: rgba(255, 236, 202, 0.5);}
  .vuecal__cell--today, .vuecal__cell--current {background-color: rgba(240, 240, 255, 0.4);}
  &:not(.vuecal--day-view) .vuecal__cell--selected {background-color: rgba(255, 236, 202, 0.4);}
  .vuecal__cell--selected:before {border-color: rgba(235, 216, 182, 0.5);}
}

.pale-blue {color: #1471b8;}
.w-app .vuecal-blue--bg {background-color: rgba(66, 163, 185, 0.8);}

// Dark theme.
// --------------------------------------------------------
:root[data-theme="dark"] {
  .top-bar {
    background-color: #2222227a;
    border-bottom: none;
  }

  .w-app .amber {color: #ffd865;}
  .w-app .deep-orange {color: #ff9c65;}

  .documentation h2:not(.todo) {
    color: var(--w-primary-color);
    border-bottom-color: #383838;
  }
  .message-box:after {opacity: 0.15;}
  .message-box.pink {color: #ffa9c6;}
  .message-box.important-notes {
    color: #eec965;
    background-color: rgba(255, 225, 62, 0.07);
  }
  .message-box.pale-blue {color: #65bcff;}

  .highlight-box {
    background: linear-gradient(45deg, #2c3730, rgb(255 255 255 / 0%));

    .grey {color: #aaa;}
  }
}

// Media queries.
// --------------------------------------------------------
@media screen and (max-width: 499px) {
  .w-app div.announcement {margin-bottom: 16px;}
  .w-app .announcement > .w-icon, .announcement > svg {
    margin-right: 2px;
    font-size: 35px !important;
    width: 1em !important;
  }
  .announcement > svg {
    width: 0.9em !important;
    margin-right: 8px !important;
  }
  .w-app .announcement--github {
    > .w-icon {margin-right: 6px;font-size: 30px !important;}
    a {font-size: 14px;}
  }
}
