$primary: #42b983;

.scrollable {
  height: 250px;
  overflow-y: scroll;
  padding-right: 1.8em;
}

.documentation {
  h2:not(.todo) {
    font-size: 27px !important;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 8px;
  }

  h3 {
    margin-top: 80px;
    padding: 10px 0 0;
  }

  h3 a {
    font-size: 26px;
    font-weight: normal;
    color: #888 !important;

    .v-icon {vertical-align: middle;}
  }

  h4 {margin: 70px 0 8px;}
  h3 + h4 {margin-top: 20px;}
  h4 a {color: inherit !important;}
  h5 {font-size: 1.1em;color: #555;margin-top: 0.5em;}

  .todo .v-chip__content {padding: 0 3px;}

  .api-options {list-style-type: none;}
  .api-options > li {margin-top: 2em;}
  .api-options p {margin-left: 1.5em;margin-top: 0.5em;}

  .code {font-family: monospace, sans-serif;}
  span.code {color: black;}
}

// Yellow theme.
.vuecal--yellow-theme {
  .vuecal__menu, .vuecal__cell-events-count {background-color: rgba(255, 179, 0, 0.8);color: #fff;}
  .vuecal__title-bar {background-color: rgba(255, 236, 202, 0.5);}
  .vuecal__cell--today, .vuecal__cell--current {background-color: rgba(240, 240, 255, 0.4);}
  &:not(.vuecal--day-view) .vuecal__cell--selected {background-color: rgba(255, 236, 202, 0.4);}
  .vuecal__cell--selected:before {border-color: rgba(235, 216, 182, 0.5);}
}
